
h1 {
  font-size-adjust: 30px;
  text-align: center;
  color: #FFBF3C;
}

b1 {
  font-size-adjust: 30px;
  /* background-color:color rgb(0,145,179); */
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

li {
  float: left;
  width: 25%;
}
li a {
  display: block;
  color: black;
  padding: 3%;
  text-decoration: none;
  text-align: center;
}
li a:hover {
  display: block;
  border-bottom: 4px solid #002856;
  color: black;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.active {
  display: block;
  border: 1px solid #002856;
  background-color: #DAA900;
}
.active:hover {
  opacity: 80%;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.intro {
  text-align: center;
  font-size: 24px;
  border: 2px solid green ;

}


/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.grey {
  background-color: #5B5B5B;
}

.new-color {
  background-color: #002856;
}