
h1 {
  font-size-adjust: 30px;
  text-align: center;
  color: #FFBF3C;
}



b1 {
  font-size-adjust: 30px;
  /* background-color:color rgb(0,145,179); */
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

li {
  float: left;
  width: 25%;
}
li a {
  display: block;
  color: black;
  padding: 3%;
  text-decoration: none;
  text-align: center;
}
li a:hover {
  display: block;
  border-bottom: 4px solid #002856;
  color: black;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.active {
  display: block;
  border: 1px solid #002856;
  background-color: #DAA900;
}
.active:hover {
  opacity: 80%;
  box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.intro {
  text-align: center;
  font-size: 24px;
  border: 2px solid green ;

}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  /* display: center;  Does this look better? */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* body{
  background-color: #5B5B5B;
} */