
h1 {
  font-size-adjust: 30px;
  text-align: center;
  color: #FFBF3C;
}

b1 {
  font-size-adjust: 30px;
  /* background-color:color rgb(0,145,179); */
  text-align: center;
}

li {
  /* display: inline; */
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(158, 125, 6, 0.637);
  color: black;
  opacity: 70%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;
}

.active {
  background-color: #002856;
  color: #DAA900;
}
.active:hover {
  background-color: #002856;
  color: #DAA900;
  opacity: 85%
}

.intro {
  text-align: center;
  font-size: 24px;
  border: 2px solid green ;

}